In [95]:
#Importer vigtige pakker
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as pdr
import pandas_datareader.data as web
import datetime
import pydst
dst = pydst.Dst(lang='en')

In [96]:
# a. loading data
dst.get_variables('NABP10') # command to se 'id'
dst.get_variables('NABP10').iloc[0]['values'] # command to se 'values' in 'TRANSAKT'

# Vi henter kun nominelle priser, da "Aflønning af ansatte" ikke er angivet i faste priser 
gva10 = dst.get_data(table_id = 'NABP10', variables={'TRANSAKT':['B1GD','D1D'],'BRANCHE':['*'], 'PRISENHED':['V'], 'TID':['*']})
emp10 = dst.get_data(table_id = 'NABB10', variables={'SOCIO':['EMPH_DC','SALH_DC'],'BRANCHE':['*'], 'TID':['*']})

In [135]:
# b. define dictionaries to rename variables
columns_dict = {}
columns_dict['TRANSAKT'] = 'variable'
columns_dict['BRANCHE'] = 'industry'
columns_dict['PRISENHED'] = 'unit'
columns_dict['TID'] = 'year'
columns_dict['INDHOLD'] = 'value'
columns_dict['SOCIO'] = 'employment'

var_dict = {} # var is for variable
var_dict['B.1g Gross value added'] = 'GVA'
var_dict['D.1 Compensation of employees'] = 'ComEmp'
var_dict['Hours worked (1,000 hours)'] = 'Hours_TOT'
var_dict['Hours worked for employees (1,000 hours)'] = 'Hours_Emp'

unit_dict = {}
unit_dict['2010-prices, chained values'] = 'real'
unit_dict['Current prices'] = 'nominal'

# b. i
gva10.rename(columns=columns_dict,inplace=True)
emp10.rename(columns=columns_dict,inplace=True)

for key,value in var_dict.items():
    gva10.variable.replace(key,value, inplace=True)
    emp10.employment.replace(key,value, inplace=True)

for key,value in unit_dict.items():
    gva10.unit.replace(key,value, inplace=True)

# b. ii redefine value from 'str' to 'float'
emp10.value = emp10.value.astype('float')
gva10['value'] = gva10['value'].apply(pd.to_numeric, errors='coerce')

,variable,industry,unit,year,value
0,GVA,Total,nominal,1966,73555
1,GVA,Total,nominal,1967,80538
2,GVA,Total,nominal,1968,88782
3,GVA,Total,nominal,1969,101289
4,GVA,Total,nominal,1970,112399
5,GVA,Total,nominal,1971,125050
6,GVA,Total,nominal,1972,142119
7,GVA,Total,nominal,1973,165043
8,GVA,Total,nominal,1974,185957
9,GVA,Total,nominal,1975,208105
10,GVA,Total,nominal,1976,238885
11,GVA,Total,nominal,1977,263241
12,GVA,Total,nominal,1978,290632
13,GVA,Total,nominal,1979,319747
14,GVA,Total,nominal,1980,346702
15,GVA,Total,nominal,1981,381089
16,GVA,Total,nominal,1982,438077
17,GVA,Total,nominal,1983,480317
18,GVA,Total,nominal,1984,529531
19,GVA,Total,nominal,1985,571842
20,GVA,Total,nominal,1986,605132
21,GVA,Total,nominal,1987,639561
22,GVA,Total,nominal,1988,666051
23,GVA,Total,nominal,1989,709047
24,GVA,Total,nominal,1990,742721
25,GVA,Total,nominal,1991,774617
26,GVA,Total,nominal,1992,804261
27,GVA,Total,nominal,1993,811417
28,GVA,Total,nominal,1994,861684
29,GVA,Total,nominal,1995,897370
...,...,...,...,...,...
1560,ComEmp,"R_S Arts, entertainment and other services",nominal,1989,14929
1561,ComEmp,"R_S Arts, entertainment and other services",nominal,1990,16445
1562,ComEmp,"R_S Arts, entertainment and other services",nominal,1991,17019
1563,ComEmp,"R_S Arts, entertainment and other services",nominal,1992,17608
1564,ComEmp,"R_S Arts, entertainment and other services",nominal,1993,18082
1565,ComEmp,"R_S Arts, entertainment and other services",nominal,1994,19503
1566,ComEmp,"R_S Arts, entertainment and other services",nominal,1995,20043
1567,ComEmp,"R_S Arts, entertainment and other services",nominal,1996,21167
1568,ComEmp,"R_S Arts, entertainment and other services",nominal,1997,21814
1569,ComEmp,"R_S Arts, entertainment and other services",nominal,1998,22469
1570,ComEmp,"R_S Arts, entertainment and other services",nominal,1999,23816
1571,ComEmp,"R_S Arts, entertainment and other services",nominal,2000,24436
1572,ComEmp,"R_S Arts, entertainment and other services",nominal,2001,25634
1573,ComEmp,"R_S Arts, entertainment and other services",nominal,2002,26824
1574,ComEmp,"R_S Arts, entertainment and other services",nominal,2003,27924
1575,ComEmp,"R_S Arts, entertainment and other services",nominal,2004,28700
1576,ComEmp,"R_S Arts, entertainment and other services",nominal,2005,29858
1577,ComEmp,"R_S Arts, entertainment and other services",nominal,2006,31732
1578,ComEmp,"R_S Arts, entertainment and other services",nominal,2007,33127
1579,ComEmp,"R_S Arts, entertainment and other services",nominal,2008,34762
1580,ComEmp,"R_S Arts, entertainment and other services",nominal,2009,35895
1581,ComEmp,"R_S Arts, entertainment and other services",nominal,2010,37092
1582,ComEmp,"R_S Arts, entertainment and other services",nominal,2011,37972
1583,ComEmp,"R_S Arts, entertainment and other services",nominal,2012,38492
1584,ComEmp,"R_S Arts, entertainment and other services",nominal,2013,38362
1585,ComEmp,"R_S Arts, entertainment and other services",nominal,2014,38606
1586,ComEmp,"R_S Arts, entertainment and other services",nominal,2015,38904
1587,ComEmp,"R_S Arts, entertainment and other services",nominal,2016,40014
1588,ComEmp,"R_S Arts, entertainment and other services",nominal,2017,41235
1589,ComEmp,"R_S Arts, entertainment and other services",nominal,2018,42491

In [126]:
# Split dataframe emp10 in two - hours total and hours for employees.
H_TOT = emp10.loc[emp10.employment == ('Hours_TOT')]
H_TOT.rename(columns = {'value':'H_TOT'}, inplace=True)

H_Emp = emp10.loc[emp10.employment == ('Hours_Emp')]
H_Emp.rename(columns = {'value':'H_EMP'}, inplace=True)

# Split dataframe gva10 in two - GVA and compensation for employees 
GVA = gva10.loc[gva10.variable == ('GVA')]
GVA.rename(columns = {'value':'GVA'}, inplace=True)

ComEmp = gva10.loc[gva10.variable == ('ComEmp')]
ComEmp.rename(columns = {'value':'ComEmp'}, inplace=True)
GVA.head()

  variable industry     unit  year     GVA
0      GVA    Total  nominal  1966   73555
1      GVA    Total  nominal  1967   80538
2      GVA    Total  nominal  1968   88782
3      GVA    Total  nominal  1969  101289
4      GVA    Total  nominal  1970  112399

In [127]:
# dropper 'employment' and 'variable'
H_TOT.drop(columns=['employment'], inplace = True)
H_Emp.drop(columns=['employment'], inplace = True)
GVA.drop(columns=['variable'], inplace = True)
ComEmp.drop(columns=['variable'], inplace = True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [131]:
GVA

                                       industry     unit  year     GVA
0                                         Total  nominal  1966   73555
1                                         Total  nominal  1967   80538
2                                         Total  nominal  1968   88782
3                                         Total  nominal  1969  101289
4                                         Total  nominal  1970  112399
5                                         Total  nominal  1971  125050
6                                         Total  nominal  1972  142119
7                                         Total  nominal  1973  165043
8                                         Total  nominal  1974  185957
9                                         Total  nominal  1975  208105
10                                        Total  nominal  1976  238885
11                                        Total  nominal  1977  263241
12                                        Total  nominal  1978  290632
13                                        Total  nominal  1979  319747
14                                        Total  nominal  1980  346702
15                                        Total  nominal  1981  381089
16                                        Total  nominal  1982  438077
17                                        Total  nominal  1983  480317
18                                        Total  nominal  1984  529531
19                                        Total  nominal  1985  571842
20                                        Total  nominal  1986  605132
21                                        Total  nominal  1987  639561
22                                        Total  nominal  1988  666051
23                                        Total  nominal  1989  709047
24                                        Total  nominal  1990  742721
25                                        Total  nominal  1991  774617
26                                        Total  nominal  1992  804261
27                                        Total  nominal  1993  811417
28                                        Total  nominal  1994  861684
29                                        Total  nominal  1995  897370
..                                          ...      ...   ...     ...
765  R_S Arts, entertainment and other services  nominal  1989   20465
766  R_S Arts, entertainment and other services  nominal  1990   24585
767  R_S Arts, entertainment and other services  nominal  1991   25690
768  R_S Arts, entertainment and other services  nominal  1992   26360
769  R_S Arts, entertainment and other services  nominal  1993   28627
770  R_S Arts, entertainment and other services  nominal  1994   31015
771  R_S Arts, entertainment and other services  nominal  1995   31418
772  R_S Arts, entertainment and other services  nominal  1996   32741
773  R_S Arts, entertainment and other services  nominal  1997   33607
774  R_S Arts, entertainment and other services  nominal  1998   34675
775  R_S Arts, entertainment and other services  nominal  1999   36347
776  R_S Arts, entertainment and other services  nominal  2000   37859
777  R_S Arts, entertainment and other services  nominal  2001   40150
778  R_S Arts, entertainment and other services  nominal  2002   41457
779  R_S Arts, entertainment and other services  nominal  2003   42488
780  R_S Arts, entertainment and other services  nominal  2004   44078
781  R_S Arts, entertainment and other services  nominal  2005   45821
782  R_S Arts, entertainment and other services  nominal  2006   47874
783  R_S Arts, entertainment and other services  nominal  2007   48742
784  R_S Arts, entertainment and other services  nominal  2008   51413
785  R_S Arts, entertainment and other services  nominal  2009   52946
786  R_S Arts, entertainment and other services  nominal  2010   54017
787  R_S Arts, entertainment and other services  nominal  2011   55820
788  R_S Arts, entertainment and other services  nominal  2012   56169
789  R_S Arts, entertainment and other services  nominal  2013   56770
790  R_S Arts, entertainment and other services  nominal  2014   57332
791  R_S Arts, entertainment and other services  nominal  2015   57591
792  R_S Arts, entertainment and other services  nominal  2016   60180
793  R_S Arts, entertainment and other services  nominal  2017   63074
794  R_S Arts, entertainment and other services  nominal  2018   63011

[795 rows x 4 columns]

In [145]:
# c. merged data
merged = pd.merge(GVA,ComEmp,how='left',on=['year','industry'])
merged1 = pd.merge(merged,H_TOT,how='left',on=['year','industry'])
df = pd.merge(merged1,H_Emp,how='left',on=['year','industry'])
df.drop(columns=['unit_y'], inplace = True)

df.GVA = dataset.GVA.astype('float')
df.ComEmp = dataset.ComEmp.astype('float')
df

df['Productivity'] = df.GVA / df.H_TOT*1000
df['Hour_wage'] = df.ComEmp / df.H_EMP*1000

#df['P: indexed=2010'] =
#df['H: indexed=2010'] =

#groupby year and industry

# Plot ....

,industry,unit_x,year,GVA,ComEmp,H_TOT,H_EMP,Productivity,Hour_wage
0,Total,nominal,1966,73555.0,40777.0,4604383.0,3637974.0,15.974996,11.208711
1,Total,nominal,1967,80538.0,45385.0,4537166.0,3605118.0,17.750728,12.589047
2,Total,nominal,1968,88782.0,50493.0,4467413.0,3568827.0,19.873247,14.148346
3,Total,nominal,1969,101289.0,57580.0,4453350.0,3585142.0,22.744451,16.060731
4,Total,nominal,1970,112399.0,65214.0,4449231.0,3608565.0,25.262568,18.072004
5,Total,nominal,1971,125050.0,73729.0,4361538.0,3547451.0,28.671079,20.783656
6,Total,nominal,1972,142119.0,81826.0,4304325.0,3512920.0,33.017721,23.292873
7,Total,nominal,1973,165043.0,93844.0,4248746.0,3475705.0,38.845109,26.999990
8,Total,nominal,1974,185957.0,110260.0,4174298.0,3419815.0,44.548089,32.241510
9,Total,nominal,1975,208105.0,123924.0,3951117.0,3220158.0,52.669916,38.483826
10,Total,nominal,1976,238885.0,141806.0,4036100.0,3315635.0,59.187087,42.768881
11,Total,nominal,1977,263241.0,156923.0,3964626.0,3257703.0,66.397436,48.169830
12,Total,nominal,1978,290632.0,173968.0,3939905.0,3252034.0,73.766246,53.495136
13,Total,nominal,1979,319747.0,194401.0,3956147.0,3301930.0,80.822831,58.874961
14,Total,nominal,1980,346702.0,214133.0,3967630.0,3343435.0,87.382644,64.045809
15,Total,nominal,1981,381089.0,232681.0,3828505.0,3235185.0,99.539899,71.922008
16,Total,nominal,1982,438077.0,263929.0,3861797.0,3284732.0,113.438640,80.350239
17,Total,nominal,1983,480317.0,288504.0,3847425.0,3291657.0,124.841160,87.647042
18,Total,nominal,1984,529531.0,311367.0,3890120.0,3349360.0,136.122022,92.963133
19,Total,nominal,1985,571842.0,336627.0,3946072.0,3419518.0,144.914234,98.442821
20,Total,nominal,1986,605132.0,362841.0,4051754.0,3529623.0,149.350627,102.798797
21,Total,nominal,1987,639561.0,393322.0,3981200.0,3474134.0,160.645283,113.214401
22,Total,nominal,1988,666051.0,414491.0,3904043.0,3414805.0,170.605447,121.380577
23,Total,nominal,1989,709047.0,432128.0,3848664.0,3378587.0,184.231983,127.901990
24,Total,nominal,1990,742721.0,450271.0,3794406.0,3352771.0,195.741046,134.298167
25,Total,nominal,1991,774617.0,464902.0,3749284.0,3312731.0,206.603981,140.337987
26,Total,nominal,1992,804261.0,478117.0,3757955.0,3311653.0,214.015602,144.374124
27,Total,nominal,1993,811417.0,480818.0,3687905.0,3249917.0,220.021123,147.947778
28,Total,nominal,1994,861684.0,496432.0,3651441.0,3236791.0,235.984643,153.371657
29,Total,nominal,1995,897370.0,518700.0,3706831.0,3296513.0,242.085490,157.348083
...,...,...,...,...,...,...,...,...,...
765,"R_S Arts, entertainment and other services",nominal,1989,20465.0,14929.0,151626.0,123010.0,134.970256,121.364117
766,"R_S Arts, entertainment and other services",nominal,1990,24585.0,16445.0,150702.0,124146.0,163.136521,132.465001
767,"R_S Arts, entertainment and other services",nominal,1991,25690.0,17019.0,152421.0,125130.0,168.546329,136.010549
768,"R_S Arts, entertainment and other services",nominal,1992,26360.0,17608.0,153655.0,126301.0,171.553155,139.412990
769,"R_S Arts, entertainment and other services",nominal,1993,28627.0,18082.0,154300.0,127667.0,185.528192,141.634095
770,"R_S Arts, entertainment and other services",nominal,1994,31015.0,19503.0,158460.0,133085.0,195.727628,146.545441
771,"R_S Arts, entertainment and other services",nominal,1995,31418.0,20043.0,158286.0,132696.0,198.488811,151.044493
772,"R_S Arts, entertainment and other services",nominal,1996,32741.0,21167.0,160602.0,134295.0,203.864211,157.615697
773,"R_S Arts, entertainment and other services",nominal,1997,33607.0,21814.0,162562.0,135905.0,206.733431,160.509179
774,"R_S Arts, entertainment and other services",nominal,1998,34675.0,22469.0,164692.0,136913.0,210.544532,164.111516
775,"R_S Arts, entertainment and other services",nominal,1999,36347.0,23816.0,172287.0,142371.0,210.967746,167.281258
776,"R_S Arts, entertainment and other services",nominal,2000,37859.0,24436.0,170443.0,140280.0,222.121178,174.194468
777,"R_S Arts, entertainment and other services",nominal,2001,40150.0,25634.0,173779.0,144305.0,231.040575,177.637642
778,"R_S Arts, entertainment and other services",nominal,2002,41457.0,26824.0,175417.0,146288.0,236.333993,183.364322
779,"R_S Arts, entertainment and other services",nominal,2003,42488.0,27924.0,179905.0,150406.0,236.169089,185.657487
780,"R_S Arts, entertainment and other services",nominal,2004,44078.0,28700.0,184866.0,154357.0,238.432162,185.932611
781,"R_S Arts, entertainment and other services",nominal,2005,45821.0,29858.0,189311.0,160880.0,242.040875,185.591745
782,"R_S Arts, entertainment and other services",nominal,2006,47874.0,31732.0,193179.0,166720.0,247.821968,190.331094
783,"R_S Arts, entertainment and other services",nominal,2007,48742.0,33127.0,192800.0,167349.0,252.811203,197.951586
784,"R_S Arts, entertainment and other services",nominal,2008,51413.0,34762.0,195354.0,169115.0,263.178640,205.552435
785,"R_S Arts, entertainment and other services",nominal,2009,52946.0,35895.0,194482.0,166951.0,272.241133,215.003205
786,"R_S Arts, entertainment and other services",nominal,2010,54017.0,37092.0,196573.0,169038.0,274.793588,219.429951
787,"R_S Arts, entertainment and other services",nominal,2011,55820.0,37972.0,199351.0,171928.0,280.008628,220.859895
788,"R_S Arts, entertainment and other services",nominal,2012,56169.0,38492.0,195293.0,168459.0,287.613995,228.494767
789,"R_S Arts, entertainment and other services",nominal,2013,56770.0,38362.0,194094.0,167147.0,292.487145,229.510551
790,"R_S Arts, entertainment and other services",nominal,2014,57332.0,38606.0,194830.0,167581.0,294.266797,230.372178
791,"R_S Arts, entertainment and other services",nominal,2015,57591.0,38904.0,192903.0,164428.0,298.549012,236.602039
792,"R_S Arts, entertainment and other services",nominal,2016,60180.0,40014.0,193421.0,165245.0,311.134779,242.149536
793,"R_S Arts, entertainment and other services",nominal,2017,63074.0,41235.0,193352.0,165015.0,326.213331,249.886374
794,"R_S Arts, entertainment and other services",nominal,2018,63011.0,42491.0,189472.0,160482.0,332.561012,264.771127

In [ ]:
# skaber nye kolloner - forsøger at erstatte denne kode
emp10['Hours_TOT'] = emp10.value[emp10.employment == 'Hours_TOT']
emp10['Hours_Emp'] = emp10.value[emp10.employment == 'Hours_Emp']
gva10['GVA'] = gva10.value[gva10.variable == 'GVA']
gva10['ComEmp'] = gva10.value[gva10.variable == 'ComEmp']

gva10.tail()

In [84]:
# dropper 'employment'
emp10.drop(columns=['employment'], inplace = True)
emp10.drop(columns=['value'], inplace = True)
gva10.drop(columns=['variable'], inplace = True)
gva10.drop(columns=['value'], inplace = True)

In [94]:
 
#emp10 = emp10.dropna()
#gva10.head()
emp10.tail()
gva10.tail()

Empty DataFrame
Columns: [industry, unit, year, GVA, ComEmp]
Index: []

In [86]:
# c. merged data
merged = pd.merge(gva10,emp10,how='left',on=['year','industry'])
merged

,industry,unit,year,GVA,ComEmp,Hours_TOT,Hours_Emp
0,Total,nominal,1966,73555.0,NaN,4604383.0,NaN
1,Total,nominal,1966,73555.0,NaN,NaN,3637974.0
2,Total,nominal,1967,80538.0,NaN,4537166.0,NaN
3,Total,nominal,1967,80538.0,NaN,NaN,3605118.0
4,Total,nominal,1968,88782.0,NaN,4467413.0,NaN
5,Total,nominal,1968,88782.0,NaN,NaN,3568827.0
6,Total,nominal,1969,101289.0,NaN,4453350.0,NaN
7,Total,nominal,1969,101289.0,NaN,NaN,3585142.0
8,Total,nominal,1970,112399.0,NaN,4449231.0,NaN
9,Total,nominal,1970,112399.0,NaN,NaN,3608565.0
10,Total,nominal,1971,125050.0,NaN,4361538.0,NaN
11,Total,nominal,1971,125050.0,NaN,NaN,3547451.0
12,Total,nominal,1972,142119.0,NaN,4304325.0,NaN
13,Total,nominal,1972,142119.0,NaN,NaN,3512920.0
14,Total,nominal,1973,165043.0,NaN,4248746.0,NaN
15,Total,nominal,1973,165043.0,NaN,NaN,3475705.0
16,Total,nominal,1974,185957.0,NaN,4174298.0,NaN
17,Total,nominal,1974,185957.0,NaN,NaN,3419815.0
18,Total,nominal,1975,208105.0,NaN,3951117.0,NaN
19,Total,nominal,1975,208105.0,NaN,NaN,3220158.0
20,Total,nominal,1976,238885.0,NaN,4036100.0,NaN
21,Total,nominal,1976,238885.0,NaN,NaN,3315635.0
22,Total,nominal,1977,263241.0,NaN,3964626.0,NaN
23,Total,nominal,1977,263241.0,NaN,NaN,3257703.0
24,Total,nominal,1978,290632.0,NaN,3939905.0,NaN
25,Total,nominal,1978,290632.0,NaN,NaN,3252034.0
26,Total,nominal,1979,319747.0,NaN,3956147.0,NaN
27,Total,nominal,1979,319747.0,NaN,NaN,3301930.0
28,Total,nominal,1980,346702.0,NaN,3967630.0,NaN
29,Total,nominal,1980,346702.0,NaN,NaN,3343435.0
...,...,...,...,...,...,...,...
3150,"R_S Arts, entertainment and other services",nominal,2004,NaN,28700.0,NaN,154357.0
3151,"R_S Arts, entertainment and other services",nominal,2004,NaN,28700.0,184866.0,NaN
3152,"R_S Arts, entertainment and other services",nominal,2005,NaN,29858.0,NaN,160880.0
3153,"R_S Arts, entertainment and other services",nominal,2005,NaN,29858.0,189311.0,NaN
3154,"R_S Arts, entertainment and other services",nominal,2006,NaN,31732.0,NaN,166720.0
3155,"R_S Arts, entertainment and other services",nominal,2006,NaN,31732.0,193179.0,NaN
3156,"R_S Arts, entertainment and other services",nominal,2007,NaN,33127.0,NaN,167349.0
3157,"R_S Arts, entertainment and other services",nominal,2007,NaN,33127.0,192800.0,NaN
3158,"R_S Arts, entertainment and other services",nominal,2008,NaN,34762.0,NaN,169115.0
3159,"R_S Arts, entertainment and other services",nominal,2008,NaN,34762.0,195354.0,NaN
3160,"R_S Arts, entertainment and other services",nominal,2009,NaN,35895.0,NaN,166951.0
3161,"R_S Arts, entertainment and other services",nominal,2009,NaN,35895.0,194482.0,NaN
3162,"R_S Arts, entertainment and other services",nominal,2010,NaN,37092.0,NaN,169038.0
3163,"R_S Arts, entertainment and other services",nominal,2010,NaN,37092.0,196573.0,NaN
3164,"R_S Arts, entertainment and other services",nominal,2011,NaN,37972.0,NaN,171928.0
3165,"R_S Arts, entertainment and other services",nominal,2011,NaN,37972.0,199351.0,NaN
3166,"R_S Arts, entertainment and other services",nominal,2012,NaN,38492.0,NaN,168459.0
3167,"R_S Arts, entertainment and other services",nominal,2012,NaN,38492.0,195293.0,NaN
3168,"R_S Arts, entertainment and other services",nominal,2013,NaN,38362.0,NaN,167147.0
3169,"R_S Arts, entertainment and other services",nominal,2013,NaN,38362.0,194094.0,NaN
3170,"R_S Arts, entertainment and other services",nominal,2014,NaN,38606.0,NaN,167581.0
3171,"R_S Arts, entertainment and other services",nominal,2014,NaN,38606.0,194830.0,NaN
3172,"R_S Arts, entertainment and other services",nominal,2015,NaN,38904.0,NaN,164428.0
3173,"R_S Arts, entertainment and other services",nominal,2015,NaN,38904.0,192903.0,NaN
3174,"R_S Arts, entertainment and other services",nominal,2016,NaN,40014.0,NaN,165245.0
3175,"R_S Arts, entertainment and other services",nominal,2016,NaN,40014.0,193421.0,NaN
3176,"R_S Arts, entertainment and other services",nominal,2017,NaN,41235.0,NaN,165015.0
3177,"R_S Arts, entertainment and other services",nominal,2017,NaN,41235.0,193352.0,NaN
3178,"R_S Arts, entertainment and other services",nominal,2018,NaN,42491.0,NaN,160482.0
3179,"R_S Arts, entertainment and other services",nominal,2018,NaN,42491.0,189472.0,NaN