In [2]:
#Importer vigtige pakker
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as pdr
import pandas_datareader.data as web

import datetime
import pydst
dst = pydst.Dst(lang='da')

In [3]:
# a. loading data
dst.get_variables('NABP10') # command to se 'id'
#dst.get_variables('NABP10').iloc[0]['values'] # command to se 'values' in 'TRANSAKT'

na10 = dst.get_data(table_id = 'NABP10', variables={'TRANSAKT':['B1GD','D1D'],'BRANCHE':['*'], 'PRISENHED':['*'], 'TID':['*']})
na10

,TRANSAKT,BRANCHE,PRISENHED,TID,INDHOLD
0,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1989,1101580
1,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1990,1123635
2,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1991,1136742
3,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1992,1156370
4,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1993,1162193
5,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1994,1215845
6,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1995,1254013
7,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1996,1286022
8,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1997,1326153
9,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1998,1351902
10,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1999,1396288
11,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2000,1461666
12,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2001,1473962
13,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2002,1478566
14,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2003,1484209
15,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2004,1513558
16,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2005,1538054
17,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2006,1597072
18,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2007,1605066
19,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2008,1605941
20,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2009,1534518
21,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2010,1562743
22,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2011,1586910
23,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2012,1590374
24,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2013,1604992
25,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2014,1629814
26,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2015,1665239
27,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2016,1704074
28,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2017,1740140
29,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2018,1759776
...,...,...,...,...,...
3150,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1989,14929
3151,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1990,16445
3152,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1991,17019
3153,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1992,17608
3154,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1993,18082
3155,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1994,19503
3156,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1995,20043
3157,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1996,21167
3158,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1997,21814
3159,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1998,22469
3160,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1999,23816
3161,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2000,24436
3162,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2001,25634
3163,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2002,26824
3164,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2003,27924
3165,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2004,28700
3166,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2005,29858
3167,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2006,31732
3168,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2007,33127
3169,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2008,34762
3170,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2009,35895
3171,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2010,37092
3172,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2011,37972
3173,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2012,38492
3174,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2013,38362
3175,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2014,38606
3176,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2015,38904
3177,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2016,40014
3178,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2017,41235
3179,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2018,42491