In [2]:
#Importer vigtige pakker
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as pdr
import pandas_datareader.data as web

import datetime
import pydst
dst = pydst.Dst(lang='da')

In [3]:
# a. loading data
dst.get_variables('NAB10') # command to se 'id'
#dst.get_variables('NABP10').iloc[0]['values'] # command to see 'values' in 'TRANSAKT'

na10 = dst.get_data(table_id = 'NABP10', variables={'TRANSAKT':['B1GD','D1D'],'BRANCHE':['*'], 'PRISENHED':['*'], 'TID':['*']})
na10

,TRANSAKT,BRANCHE,PRISENHED,TID,INDHOLD
0,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1989,1101580
1,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1990,1123635
2,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1991,1136742
3,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1992,1156370
4,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1993,1162193
5,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1994,1215845
6,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1995,1254013
7,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1996,1286022
8,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1997,1326153
9,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1998,1351902
10,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",1999,1396288
11,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2000,1461666
12,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2001,1473962
13,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2002,1478566
14,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2003,1484209
15,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2004,1513558
16,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2005,1538054
17,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2006,1597072
18,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2007,1605066
19,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2008,1605941
20,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2009,1534518
21,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2010,1562743
22,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2011,1586910
23,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2012,1590374
24,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2013,1604992
25,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2014,1629814
26,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2015,1665239
27,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2016,1704074
28,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2017,1740140
29,"B.1g Bruttoværditilvækst, BVT",I alt,"2010-priser, kædede værdier",2018,1759776
...,...,...,...,...,...
3150,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1989,14929
3151,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1990,16445
3152,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1991,17019
3153,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1992,17608
3154,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1993,18082
3155,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1994,19503
3156,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1995,20043
3157,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1996,21167
3158,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1997,21814
3159,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1998,22469
3160,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,1999,23816
3161,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2000,24436
3162,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2001,25634
3163,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2002,26824
3164,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2003,27924
3165,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2004,28700
3166,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2005,29858
3167,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2006,31732
3168,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2007,33127
3169,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2008,34762
3170,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2009,35895
3171,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2010,37092
3172,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2011,37972
3173,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2012,38492
3174,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2013,38362
3175,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2014,38606
3176,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2015,38904
3177,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2016,40014
3178,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2017,41235
3179,D.1 Aflønning af ansatte,"R_S Kultur, fritid og anden service",Løbende priser,2018,42491

In [19]:
# a. loading data
dst.get_variables('NABB10') # command to se 'id'
#dst.get_variables('NABB10').iloc[0]['values'] # command to see 'values' in 'SOCIO'
nabb10 = dst.get_data(table_id = 'NABB10', variables={'SOCIO':['EMPH_DC','SALH_DC'],'BRANCHE':['*'],'TID':['*']})
nabb10

,SOCIO,BRANCHE,TID,INDHOLD
0,Samlede præsterede timer (1000 timer),I alt,1966,4604383
1,Samlede præsterede timer (1000 timer),I alt,1967,4537166
2,Samlede præsterede timer (1000 timer),I alt,1968,4467413
3,Samlede præsterede timer (1000 timer),I alt,1969,4453350
4,Samlede præsterede timer (1000 timer),I alt,1970,4449231
5,Samlede præsterede timer (1000 timer),I alt,1971,4361538
6,Samlede præsterede timer (1000 timer),I alt,1972,4304325
7,Samlede præsterede timer (1000 timer),I alt,1973,4248746
8,Samlede præsterede timer (1000 timer),I alt,1974,4174298
9,Samlede præsterede timer (1000 timer),I alt,1975,3951117
10,Samlede præsterede timer (1000 timer),I alt,1976,4036100
11,Samlede præsterede timer (1000 timer),I alt,1977,3964626
12,Samlede præsterede timer (1000 timer),I alt,1978,3939905
13,Samlede præsterede timer (1000 timer),I alt,1979,3956147
14,Samlede præsterede timer (1000 timer),I alt,1980,3967630
15,Samlede præsterede timer (1000 timer),I alt,1981,3828505
16,Samlede præsterede timer (1000 timer),I alt,1982,3861797
17,Samlede præsterede timer (1000 timer),I alt,1983,3847425
18,Samlede præsterede timer (1000 timer),I alt,1984,3890120
19,Samlede præsterede timer (1000 timer),I alt,1985,3946072
20,Samlede præsterede timer (1000 timer),I alt,1986,4051754
21,Samlede præsterede timer (1000 timer),I alt,1987,3981200
22,Samlede præsterede timer (1000 timer),I alt,1988,3904043
23,Samlede præsterede timer (1000 timer),I alt,1989,3848664
24,Samlede præsterede timer (1000 timer),I alt,1990,3794406
25,Samlede præsterede timer (1000 timer),I alt,1991,3749284
26,Samlede præsterede timer (1000 timer),I alt,1992,3757955
27,Samlede præsterede timer (1000 timer),I alt,1993,3687905
28,Samlede præsterede timer (1000 timer),I alt,1994,3651441
29,Samlede præsterede timer (1000 timer),I alt,1995,3706831
...,...,...,...,...
1560,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1984,25250
1561,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1985,24897
1562,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1986,23998
1563,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1987,24606
1564,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1988,24302
1565,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1989,24163
1566,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1990,22306
1567,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1991,22468
1568,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1992,24088
1569,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1993,23508
1570,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1994,22420
1571,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1995,22256
1572,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1996,22846
1573,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1997,23400
1574,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1998,23625
1575,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,1999,23360
1576,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,2000,23005
1577,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,2001,23151
1578,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,2002,22817
1579,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,2003,22456
1580,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,2004,21370
1581,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,2005,20475
1582,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,2006,23069
1583,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,2007,22100
1584,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,2008,21737
1585,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,2009,22315
1586,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,2010,23102
1587,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,2011,23103
1588,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,2012,23398
1589,Præsterede timer for lønmodtagere (1000 timer),LB Boliger,2013,23776