In [ ]:
#Importer vigtige pakker
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as pdr
import pandas_datareader.data as web
import datetime
import pydst
dst = pydst.Dst(lang='en')

In [ ]:
# a. loading data
dst.get_variables('NABP10') # command to se 'id'
dst.get_variables('NABP10').iloc[0]['values'] # command to se 'values' in 'TRANSAKT'

# Vi henter kun nominelle priser, da "Afl√∏nning af ansatte" ikke er angivet i faste priser 
gva10 = dst.get_data(table_id = 'NABP10', variables={'TRANSAKT':['B1GD','D1D'],'BRANCHE':['*'], 'PRISENHED':['V'], 'TID':['*']})
emp10 = dst.get_data(table_id = 'NABB10', variables={'SOCIO':['EMPH_DC','SALH_DC'],'BRANCHE':['*'], 'TID':['*']})

In [ ]:
# b. define dictionaries to rename variables
columns_dict = {}
columns_dict['TRANSAKT'] = 'variable'
columns_dict['BRANCHE'] = 'industry'
columns_dict['PRISENHED'] = 'unit'
columns_dict['TID'] = 'year'
columns_dict['INDHOLD'] = 'value'
columns_dict['SOCIO'] = 'employment'

var_dict = {} # var is for variable
var_dict['B.1g Gross value added'] = 'GVA'
var_dict['D.1 Compensation of employees'] = 'ComEmp'
var_dict['Hours worked (1,000 hours)'] = 'Hours_TOT'
var_dict['Hours worked for employees (1,000 hours)'] = 'Hours_Emp'

unit_dict = {}
unit_dict['2010-prices, chained values'] = 'real'
unit_dict['Current prices'] = 'nominal'

# b. i
gva10.rename(columns=columns_dict,inplace=True)
emp10.rename(columns=columns_dict,inplace=True)

for key,value in var_dict.items():
    gva10.variable.replace(key,value, inplace=True)
    emp10.employment.replace(key,value, inplace=True)

for key,value in unit_dict.items():
    gva10.unit.replace(key,value, inplace=True)

# b. ii redefine value from 'str' to 'float'
emp10.value = emp10.value.astype('float')
gva10['value'] = gva10['value'].apply(pd.to_numeric, errors='coerce')

In [ ]:
# Split dataframe emp10 in two - hours total and hours for employees.
H_TOT = emp10.loc[emp10.employment == ('Hours_TOT')]
H_TOT.rename(columns = {'value':'H_TOT'}, inplace=True)

H_Emp = emp10.loc[emp10.employment == ('Hours_Emp')]
H_Emp.rename(columns = {'value':'H_EMP'}, inplace=True)

# Split dataframe gva10 in two - GVA and compensation for employees 
GVA = gva10.loc[gva10.variable == ('GVA')]
GVA.rename(columns = {'value':'GVA'}, inplace=True)

ComEmp = gva10.loc[gva10.variable == ('ComEmp')]
ComEmp.rename(columns = {'value':'ComEmp'}, inplace=True)
GVA.head()

In [11]:
# dropper 'employment' and 'variable'
H_TOT.drop(columns=['employment'], inplace = True)
H_Emp.drop(columns=['employment'], inplace = True)
GVA.drop(columns=['variable'], inplace = True)
ComEmp.drop(columns=['variable'], inplace = True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [12]:
# c. merged data
merged = pd.merge(GVA,ComEmp,how='left',on=['year','industry'])
merged1 = pd.merge(merged,H_TOT,how='left',on=['year','industry'])
df = pd.merge(merged1,H_Emp,how='left',on=['year','industry'])
df.drop(columns=['unit_y'], inplace = True)

df.GVA = df.GVA.astype('float')
df.ComEmp = df.ComEmp.astype('float')
df

df['Productivity'] = df.GVA / df.H_TOT*1000
df['Hour_wage'] = df.ComEmp / df.H_EMP*1000

#groupby year and industry

df
#df.groupby(['industry','year'])

,industry,unit_x,year,GVA,ComEmp,H_TOT,H_EMP,Productivity,Hour_wage
0,Total,nominal,1982,438077.0,263929.0,3861797.0,3284732.0,113.438640,80.350239
1,"A Agriculture, forestry and fishing",nominal,1982,23420.0,3807.0,333573.0,101920.0,70.209519,37.352826
2,B Mining and quarrying,nominal,1982,3871.0,900.0,9130.0,8663.0,423.986857,103.890107
3,C Manufacturing,nominal,1982,76773.0,50788.0,688864.0,651143.0,111.448704,77.998228
4,D_E Utility services,nominal,1982,9757.0,2774.0,29954.0,29453.0,325.732790,94.183954
5,F Construction,nominal,1982,21434.0,16920.0,283505.0,231764.0,75.603605,73.005298
6,G_I Trade and transport etc.,nominal,1982,88013.0,52817.0,871147.0,714063.0,101.031169,73.966863
7,J Information and communication,nominal,1982,11297.0,7506.0,91209.0,85760.0,123.858391,87.523321
8,K Financial and insurance,nominal,1982,20791.0,9648.0,109129.0,109129.0,190.517644,88.409130
9,LA Real estate activities and renting of non-r...,nominal,1982,6909.0,652.0,11570.0,8755.0,597.147796,74.471730
10,LB Dwellings,nominal,1982,30301.0,1843.0,24236.0,20863.0,1250.247566,88.338206
11,Of which: General government,nominal,1982,111439.0,95366.0,1065919.0,1065919.0,104.547344,89.468337
12,M_N Other business services,nominal,1982,19330.0,12632.0,178979.0,138596.0,108.001497,91.142602
13,"O_Q Public administration, education and health",nominal,1982,111877.0,94247.0,1077153.0,1063809.0,103.863611,88.593911
14,"R_S Arts, entertainment and other services",nominal,1982,14303.0,9393.0,153350.0,120811.0,93.270297,77.749543
15,Total,nominal,1983,480317.0,288504.0,3847425.0,3291657.0,124.841160,87.647042
16,"A Agriculture, forestry and fishing",nominal,1983,22357.0,4315.0,324950.0,102596.0,68.801354,42.058170
17,B Mining and quarrying,nominal,1983,4305.0,898.0,8880.0,8438.0,484.797297,106.423323
18,C Manufacturing,nominal,1983,86156.0,55684.0,691334.0,655307.0,124.622831,84.973913
19,D_E Utility services,nominal,1983,10668.0,3076.0,30623.0,30130.0,348.365608,102.090939
20,F Construction,nominal,1983,22567.0,18521.0,273913.0,226413.0,82.387473,81.801840
21,G_I Trade and transport etc.,nominal,1983,98775.0,57765.0,868182.0,715262.0,113.772227,80.760616
22,J Information and communication,nominal,1983,13435.0,8678.0,92892.0,87220.0,144.630323,99.495529
23,K Financial and insurance,nominal,1983,22818.0,10758.0,107929.0,107929.0,211.416765,99.676639
24,LA Real estate activities and renting of non-r...,nominal,1983,7804.0,830.0,13060.0,9937.0,597.549770,83.526215
25,LB Dwellings,nominal,1983,33439.0,2128.0,25841.0,22385.0,1294.028869,95.063659
26,Of which: General government,nominal,1983,120463.0,102702.0,1071006.0,1071006.0,112.476494,95.893020
27,M_N Other business services,nominal,1983,21844.0,14195.0,177485.0,138447.0,123.075189,102.530210
28,"O_Q Public administration, education and health",nominal,1983,120496.0,101418.0,1082878.0,1069741.0,111.273846,94.806126
29,"R_S Arts, entertainment and other services",nominal,1983,15654.0,10237.0,149458.0,117852.0,104.738455,86.863184
...,...,...,...,...,...,...,...,...,...
765,Total,nominal,2005,1347650.0,800932.0,4039378.0,3656705.0,333.628098,219.031068
766,"A Agriculture, forestry and fishing",nominal,2005,18170.0,7288.0,137980.0,59330.0,131.685752,122.838362
767,B Mining and quarrying,nominal,2005,52538.0,1865.0,6523.0,6404.0,8054.269508,291.224235
768,C Manufacturing,nominal,2005,190876.0,122200.0,554532.0,535405.0,344.210974,228.238436
769,D_E Utility services,nominal,2005,36557.0,8037.0,34767.0,34313.0,1051.485604,234.226095
770,F Construction,nominal,2005,72745.0,52476.0,323244.0,273774.0,225.046714,191.676346
771,G_I Trade and transport etc.,nominal,2005,271587.0,170607.0,948832.0,846951.0,286.232969,201.436683
772,J Information and communication,nominal,2005,58334.0,36561.0,139720.0,125615.0,417.506441,291.056004
773,K Financial and insurance,nominal,2005,70267.0,37719.0,116280.0,116280.0,604.291366,324.380805
774,LA Real estate activities and renting of non-r...,nominal,2005,33934.0,5898.0,35006.0,27335.0,969.376678,215.767331
775,LB Dwellings,nominal,2005,95502.0,4655.0,21334.0,20475.0,4476.516359,227.350427
776,Of which: General government,nominal,2005,293603.0,248219.0,1108786.0,1108786.0,264.796814,223.865561
777,M_N Other business services,nominal,2005,103105.0,71798.0,359214.0,298881.0,287.029459,240.222697
778,"O_Q Public administration, education and health",nominal,2005,298215.0,251969.0,1172635.0,1151063.0,254.311870,218.901137
779,"R_S Arts, entertainment and other services",nominal,2005,45821.0,29858.0,189311.0,160880.0,242.040875,185.591745
780,Total,nominal,2018,1922983.0,1164748.0,4135914.0,3828657.0,464.947530,304.218424
781,"A Agriculture, forestry and fishing",nominal,2018,20729.0,11383.0,99925.0,57043.0,207.445584,199.551216
782,B Mining and quarrying,nominal,2018,22283.0,4837.0,7722.0,7608.0,2885.651386,635.778128
783,C Manufacturing,nominal,2018,280257.0,146435.0,457044.0,443993.0,613.194791,329.813758
784,D_E Utility services,nominal,2018,44995.0,10840.0,34900.0,33979.0,1289.255014,319.020572
785,F Construction,nominal,2018,111240.0,74427.0,303557.0,266124.0,366.455064,279.670379
786,G_I Trade and transport etc.,nominal,2018,384706.0,248841.0,995511.0,931927.0,386.440732,267.017696
787,J Information and communication,nominal,2018,85472.0,55814.0,162394.0,145164.0,526.324864,384.489267
788,K Financial and insurance,nominal,2018,113013.0,61929.0,125670.0,125670.0,899.283839,492.790642
789,LA Real estate activities and renting of non-r...,nominal,2018,55883.0,9486.0,43667.0,33997.0,1279.753590,279.024620
790,LB Dwellings,nominal,2018,148636.0,6591.0,24577.0,23643.0,6047.768239,278.771729
791,Of which: General government,nominal,2018,397467.0,338958.0,1098948.0,1098948.0,361.679534,308.438616
792,M_N Other business services,nominal,2018,175464.0,134238.0,482846.0,418899.0,363.395368,320.454334
793,"O_Q Public administration, education and health",nominal,2018,414721.0,357535.0,1208647.0,1180144.0,343.128308,302.958791
794,"R_S Arts, entertainment and other services",nominal,2018,65584.0,42393.0,189453.0,160466.0,346.175569,264.186806

In [ ]:
df_index = df.copy()
df_index.sort_values(['industry','year'], inplace=True)
#df['P: indexed=2010'] = 
#df['H: indexed=2010'] =

#df_index['P: indexed=2010'] = df_index.groupby(['industry','year'])['Productivity'].transform(lambda x: x/x[30])

#df_index.Productivity[0]
#df_index.sort_values('year')
#df_index
#df_index.groupby(['industry','year'])['Productivity'].plot(legend=True)
#plt.show()
df_index.head()

In [ ]:
# skaber nye kolloner - fors√∏ger at erstatte denne kode
emp10['Hours_TOT'] = emp10.value[emp10.employment == 'Hours_TOT']
emp10['Hours_Emp'] = emp10.value[emp10.employment == 'Hours_Emp']
gva10['GVA'] = gva10.value[gva10.variable == 'GVA']
gva10['ComEmp'] = gva10.value[gva10.variable == 'ComEmp']

gva10.tail()

In [84]:
# dropper 'employment'
emp10.drop(columns=['employment'], inplace = True)
emp10.drop(columns=['value'], inplace = True)
gva10.drop(columns=['variable'], inplace = True)
gva10.drop(columns=['value'], inplace = True)

In [94]:
 
#emp10 = emp10.dropna()
#gva10.head()
emp10.tail()
gva10.tail()

Empty DataFrame
Columns: [industry, unit, year, GVA, ComEmp]
Index: []

In [86]:
# c. merged data
merged = pd.merge(gva10,emp10,how='left',on=['year','industry'])
merged

,industry,unit,year,GVA,ComEmp,Hours_TOT,Hours_Emp
0,Total,nominal,1966,73555.0,NaN,4604383.0,NaN
1,Total,nominal,1966,73555.0,NaN,NaN,3637974.0
2,Total,nominal,1967,80538.0,NaN,4537166.0,NaN
3,Total,nominal,1967,80538.0,NaN,NaN,3605118.0
4,Total,nominal,1968,88782.0,NaN,4467413.0,NaN
5,Total,nominal,1968,88782.0,NaN,NaN,3568827.0
6,Total,nominal,1969,101289.0,NaN,4453350.0,NaN
7,Total,nominal,1969,101289.0,NaN,NaN,3585142.0
8,Total,nominal,1970,112399.0,NaN,4449231.0,NaN
9,Total,nominal,1970,112399.0,NaN,NaN,3608565.0
10,Total,nominal,1971,125050.0,NaN,4361538.0,NaN
11,Total,nominal,1971,125050.0,NaN,NaN,3547451.0
12,Total,nominal,1972,142119.0,NaN,4304325.0,NaN
13,Total,nominal,1972,142119.0,NaN,NaN,3512920.0
14,Total,nominal,1973,165043.0,NaN,4248746.0,NaN
15,Total,nominal,1973,165043.0,NaN,NaN,3475705.0
16,Total,nominal,1974,185957.0,NaN,4174298.0,NaN
17,Total,nominal,1974,185957.0,NaN,NaN,3419815.0
18,Total,nominal,1975,208105.0,NaN,3951117.0,NaN
19,Total,nominal,1975,208105.0,NaN,NaN,3220158.0
20,Total,nominal,1976,238885.0,NaN,4036100.0,NaN
21,Total,nominal,1976,238885.0,NaN,NaN,3315635.0
22,Total,nominal,1977,263241.0,NaN,3964626.0,NaN
23,Total,nominal,1977,263241.0,NaN,NaN,3257703.0
24,Total,nominal,1978,290632.0,NaN,3939905.0,NaN
25,Total,nominal,1978,290632.0,NaN,NaN,3252034.0
26,Total,nominal,1979,319747.0,NaN,3956147.0,NaN
27,Total,nominal,1979,319747.0,NaN,NaN,3301930.0
28,Total,nominal,1980,346702.0,NaN,3967630.0,NaN
29,Total,nominal,1980,346702.0,NaN,NaN,3343435.0
...,...,...,...,...,...,...,...
3150,"R_S Arts, entertainment and other services",nominal,2004,NaN,28700.0,NaN,154357.0
3151,"R_S Arts, entertainment and other services",nominal,2004,NaN,28700.0,184866.0,NaN
3152,"R_S Arts, entertainment and other services",nominal,2005,NaN,29858.0,NaN,160880.0
3153,"R_S Arts, entertainment and other services",nominal,2005,NaN,29858.0,189311.0,NaN
3154,"R_S Arts, entertainment and other services",nominal,2006,NaN,31732.0,NaN,166720.0
3155,"R_S Arts, entertainment and other services",nominal,2006,NaN,31732.0,193179.0,NaN
3156,"R_S Arts, entertainment and other services",nominal,2007,NaN,33127.0,NaN,167349.0
3157,"R_S Arts, entertainment and other services",nominal,2007,NaN,33127.0,192800.0,NaN
3158,"R_S Arts, entertainment and other services",nominal,2008,NaN,34762.0,NaN,169115.0
3159,"R_S Arts, entertainment and other services",nominal,2008,NaN,34762.0,195354.0,NaN
3160,"R_S Arts, entertainment and other services",nominal,2009,NaN,35895.0,NaN,166951.0
3161,"R_S Arts, entertainment and other services",nominal,2009,NaN,35895.0,194482.0,NaN
3162,"R_S Arts, entertainment and other services",nominal,2010,NaN,37092.0,NaN,169038.0
3163,"R_S Arts, entertainment and other services",nominal,2010,NaN,37092.0,196573.0,NaN
3164,"R_S Arts, entertainment and other services",nominal,2011,NaN,37972.0,NaN,171928.0
3165,"R_S Arts, entertainment and other services",nominal,2011,NaN,37972.0,199351.0,NaN
3166,"R_S Arts, entertainment and other services",nominal,2012,NaN,38492.0,NaN,168459.0
3167,"R_S Arts, entertainment and other services",nominal,2012,NaN,38492.0,195293.0,NaN
3168,"R_S Arts, entertainment and other services",nominal,2013,NaN,38362.0,NaN,167147.0
3169,"R_S Arts, entertainment and other services",nominal,2013,NaN,38362.0,194094.0,NaN
3170,"R_S Arts, entertainment and other services",nominal,2014,NaN,38606.0,NaN,167581.0
3171,"R_S Arts, entertainment and other services",nominal,2014,NaN,38606.0,194830.0,NaN
3172,"R_S Arts, entertainment and other services",nominal,2015,NaN,38904.0,NaN,164428.0
3173,"R_S Arts, entertainment and other services",nominal,2015,NaN,38904.0,192903.0,NaN
3174,"R_S Arts, entertainment and other services",nominal,2016,NaN,40014.0,NaN,165245.0
3175,"R_S Arts, entertainment and other services",nominal,2016,NaN,40014.0,193421.0,NaN
3176,"R_S Arts, entertainment and other services",nominal,2017,NaN,41235.0,NaN,165015.0
3177,"R_S Arts, entertainment and other services",nominal,2017,NaN,41235.0,193352.0,NaN
3178,"R_S Arts, entertainment and other services",nominal,2018,NaN,42491.0,NaN,160482.0
3179,"R_S Arts, entertainment and other services",nominal,2018,NaN,42491.0,189472.0,NaN