In [8]:
#Importer vigtige pakker
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as pdr
import pandas_datareader.data as web

import datetime
import pydst
dst = pydst.Dst(lang='en')

In [20]:
# a. loading data
dst.get_variables('NABP10') # command to se 'id'
dst.get_variables('NABP10').iloc[0]['values'] # command to see 'values' in 'TRANSAKT'
na10 = dst.get_data(table_id = 'NABP10', variables={'TRANSAKT':['B1GD','D1D'],'BRANCHE':['*'], 'PRISENHED':['*'], 'TID':['*']})

# b. rename columns, var, unit 
columns_dict = {}
columns_dict['TRANSAKT'] = 'variable'
columns_dict['BRANCHE'] = 'industry'
columns_dict['PRISENHED'] = 'unit'
columns_dict['TID'] = 'year'
columns_dict['INDHOLD'] = 'value'

var_dict = {} # var is for variable
var_dict['B.1g Gross value added'] = 'GVA'
var_dict['D.1 Compensation of employees'] = 'ComEmp'

unit_dict = {}
unit_dict['2010-prices, chained values'] = 'real'
unit_dict['Current prices'] = 'nominal'


na10.rename(columns=columns_dict,inplace=True)
for key,value in var_dict.items():
   na10.variable.replace(key,value, inplace=True)

for key,value in unit_dict.items():
   na10.unit.replace(key,value, inplace=True)
na10.head()

  variable industry  unit  year    value
0      GVA    Total  real  1989  1101580
1      GVA    Total  real  1990  1123635
2      GVA    Total  real  1991  1136742
3      GVA    Total  real  1992  1156370
4      GVA    Total  real  1993  1162193

In [ ]:
# a. loading data
dst.get_variables('NABB10') # command to se 'id'
#dst.get_variables('NABB10').iloc[0]['values'] # command to see 'values' in 'SOCIO'
nabb10 = dst.get_data(table_id = 'NABB10', variables={'SOCIO':['EMPH_DC','SALH_DC'],'BRANCHE':['*'],'TID':['*']})
nabb10

columns_dict = {}
columns_dict['SOCIO'] = 'variable'
columns_dict['BRANCHE'] = 'industry'
columns_dict['TID'] = 'year'
columns_dict['INDHOLD'] = 'value'

hej simon